//Variables

@import './utils/variables';

//Mixins

@import './utils/mixins';

//Global settings

@import './base/global-settings';

//Components

@import './components/header';
@import './components/footer';
@import './components/hero-banner';
@import './components/bank-feature';

//Pages

@import './pages/home-page';
@import './pages/login-page';