/* Header */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a {
        font-weight: bold;
        color: $main-text-color;
    }

    &__item {
        text-decoration: none;
        margin-right: 0.5rem;

        &:hover {
            text-decoration: underline;
        }

        &--btn {
            cursor: pointer;
            background: unset;
            border: unset;
            @include font-set(1rem, 700);
            color: unset;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        &__image {
            max-width: 100%;
            width: 200px;
        }
    }
}