//Media query

@mixin for-device($device) {
    @media (max-width: map-get($breakpoints, $device)) {
        @content;
    }
}

//Font weight and size

@mixin font-set($size: 1rem, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
}