//Color variables

$main-color: #00bc77;
$bg-color: #12002b;

$main-text-color: #2c3e50;
$title-text-color: #222;

//Breakpoints

$breakpoints: (
    tablet: 720px,
    desktop: 920px
);

//Fonts

$main-fonts : Avenir,
Helvetica,
Arial,
sans-serif;