//Color variables

$main-color: #00bc77;
$bg-color: #00bc77;

$main-text-color: #2c3e50;
$title-text-color: #222;

//Breakpoints

$breakpoints: (
    mobile: 767.9px,
    tablet: 991.9px
);

//Fonts

$main-fonts : Avenir,
Helvetica,
Arial,
sans-serif;